nav{
    border-bottom: 7px solid rgb(41, 159, 255);
    /* position: fixed; */
}
/* 
body{
    min-height: 100em !important;
} */

.intro-section{
    background: url(../images/img-5.jpg) no-repeat center center fixed;
    min-height:100vh;
    background-size: cover;
    padding:3em;
    padding-top:8em !important;
}

.login-section{
    /* padding: 2em; */
    background: rgba(233, 233, 233, 0.7);
}

#sign-in{
    padding-left:2em;
    padding-right:2em;
    display: block;
}

#is-registered{
    display: block;
}

.register-link{
    display: inline-block;
    padding: 1em 0;
}

.key-features{
    padding: 3em;
}

#center-image{
    /* width: 100%; */
    display: block;
    margin: 0 auto;
}

.how-it-works{
    background: rgb(240, 240, 240);
}

.order-summary{
    padding:3em;
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
.star-rating .fa-star{
    color: #2C84D1;
}
.pricing{
    list-style: none !important;
}

.pricing li:before{
    content: '✓';
    margin-left:1em;
    margin-right:1em;
}